body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0 ,0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0 ,0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  margin: 0.375rem;
  border: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-border-radius: 0.145rem;
  border-radius: 0.145rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
  background-color: #eee;
}

.btn:hover,
.btn:active,
.btn:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0 ,0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0 ,0.15);
  outline: 0;
}

.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled).active {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0 ,0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0 ,0.15);
}

.btn.btn-primary {
  color: #fff;
  background-color: #4285f4;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

btn-primary:active {
  background-color: #0d5bdd;
}

.btn.btn-round {
  border-radius: 30px;
}

.p-6 {
  padding-top: 13rem;
  padding-bottom: 25rem;
}

.col-4 {
  background-color: #e0e0e0;
}

.field{
  width: 100%;
}

.pswrd{
  margin-top: 1rem;
}

.fieldlabel{
  font-weight: bold;
}

.fronttext{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: -5rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: solid;
  border-radius: 25px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.bg-grey.lighten-4 {
  background-color: #e0e0e0 !important;
}

.bg-grey {
  background-color: #9e9e9e !important;
}

.nav-shadow {
  display: block;
  -webkit-box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0 ,0.15);
  box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0 ,0.15);
}

.avatar {
  width: 50px;
  margin-left: 1.5rem;
}
